@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}


body{
    background-color: #242424;
    /* text-align: center; */

}


header{
    background-color: #4887ce;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    margin:auto;
    padding:10px;
}



.title{
    font-size: 26px;
}




main{
    background-image: url(../assets/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
}


article{
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;    
    width: 12rem;
    float: right;
}

h2{
    font-size:  1.1rem;
}

article h2{
    margin-bottom: 0.5rem;
}

p{
    font-size: 0.9rem;
}

input, select{
    outline: none;
    display: block;
    border: none;
    padding: 0.3rem 0 0.3rem 0.3rem;
    margin: 0.4rem;
    margin-left:0;
    margin-bottom:0;
    width: 100%;
    border-radius: 10px;
}

select{
    appearance: none;
    outline: none;
    background-image: url(../assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.button{
    border: none;
    height: 2rem;
    background-color: #4887ce;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.button:hover{
    font-size: 1.1em;
    background: rgb(24, 138, 62);
}

footer{
    padding: 3rem;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

footer img{
    width: 180px;
    border-radius: 100px;
    float: left;
    
}


.description{
    display: inline-block;
    color:white;
    max-width: 75%;
    text-align: left;
    margin-left: 2rem;
    padding-top: 2rem;
}

.description p, .description h2{
    margin-bottom: 1rem;
}


@media only screen and (max-width: 960px){
    article{
        float:none;
        margin:auto;
        margin: 1rem auto 1rem auto;
    }

    header{
        padding:0;
    }

    footer img{
        float:none;
    }

    .description{
        text-align: center;
    }


}